# Welcome to web scraping series 
## Example 4 Flipkart mobile phones web scraping-with paginations

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
title_list = []
price_list = []

In [3]:
page_num = 5
for i in range(1,page_num+1):
    url= "https://www.flipkart.com/search?q=phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page="+str(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    title = soup.find_all('div', class_="_4rR01T")
    price = soup.find_all('div', class_="_30jeq3 _1_WHN1")
    for t in title:
        title_list.append(t.text.replace('\n', ''))

    for p in price:
        price_list.append(p.text.replace('\n', ''))

In [4]:
title_list[:5]

['SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
 'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
 'APPLE iPhone 11 (White, 128 GB)',
 'realme C21Y (Cross Blue, 32 GB)']

In [5]:
price_list[:5]

['₹10,499', '₹10,499', '₹12,499', '₹54,900', '₹9,499']

In [6]:
len(title_list)

120

In [7]:
len(price_list)

120

In [8]:
df = pd.DataFrame({
    'title_list':title_list,
    'price_list':price_list
    },
      columns=['title_list','price_list'])

In [9]:
df.head()

                                title_list price_list
0  SAMSUNG Galaxy F22 (Denim Black, 64 GB)    ₹10,499
1   SAMSUNG Galaxy F22 (Denim Blue, 64 GB)    ₹10,499
2  SAMSUNG Galaxy F22 (Denim Blue, 128 GB)    ₹12,499
3          APPLE iPhone 11 (White, 128 GB)    ₹54,900
4          realme C21Y (Cross Blue, 32 GB)     ₹9,499

In [10]:
df.shape

(120, 2)

In [11]:
df.to_csv("phones.csv")

### Important note
note if nonetype error arises make sure the tag and class names are correct or not .
To do that simple go through url press inspect and go through correcponding field and copy the class and tag.

# Thank You