# Live Weather details with Python

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [ ]:
# Go to website > inspect > network > select all in tick box > ctrl +r > take down headers info

In [3]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \
(KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

In [4]:
city = 'belagavi'

In [5]:
# get the response in the form of html
response = requests.get(f'https://www.google.com/search?q=google+{city}+weather&oq=google+{city}+weather&aqs=\
chrome..69i57j69i64.5077j0j7&sourceid=chrome&ie=UTF-8',headers=headers)

In [ ]:
# For more on status code visit https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

In [6]:
response.status_code

200

In [7]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text,"html.parser")
location = soup.select("#wob_loc")[0].getText().strip()
time = soup.select("#wob_dts")[0].getText().strip()
info = soup.select("#wob_dc")[0].getText().strip()
weather = soup.select("#wob_tm")[0].getText().strip()

In [8]:
print(location)
print(time)
print(info)
print(weather + ' degree celcius')

Belagavi, Karnataka
Saturday, 3:00 pm
Mostly cloudy
26 degree celcius

## Let's Create a function to get the weather for all the city's of karnataka

In [9]:
w_location = []
w_time = []
w_info = []
weath = []

In [10]:
def weather_karnataka(city):
    response = requests.get(f'https://www.google.com/search?q=google+{city}+weather&oq=google+{city}+weather&aqs=\
    chrome..69i57j69i64.5077j0j7&sourceid=chrome&ie=UTF-8',headers=headers)

    print(f"Status of request for {city}:",response.status_code)
    
    soup = BeautifulSoup(response.text,"html.parser")
    location = soup.select("#wob_loc")[0].getText().strip()
    time = soup.select("#wob_dts")[0].getText().strip()
    info = soup.select("#wob_dc")[0].getText().strip()
    weather = soup.select("#wob_tm")[0].getText().strip()
    
    w_location.append(location)
    w_time.append(time)
    w_info.append(info)
    weath.append(weather)

### Let's Scrape all city Data of Karnataka from wikipedia

In [11]:
# get the response in the form of html
url="https://en.wikipedia.org/wiki/List_of_cities_in_Karnataka_by_population"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(url)
print(response.status_code)

200

In [12]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [13]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.head()

,Rank(2011),City,District,Population2011,Population2001,Population1991
0,1,Bangalore,Bangalore Urban,8495492,5688985,3302296
1,2,Hubli-Dharwad,Dharwad,943788,786195,648298
2,3,Mysore,Mysore,920550,762408,606755
3,4,Kalaburagi,Kalaburagi,543147,430265,304099
4,5,Mangalore,Dakshina Kannada,499487,411327,273304

In [14]:
# drop the unwanted columns
data = df.drop(["Rank(2011)", "Population2001","Population1991"], axis=1)
print(data.head())

            City          District  Population2011
0      Bangalore   Bangalore Urban         8495492
1  Hubli-Dharwad           Dharwad          943788
2         Mysore            Mysore          920550
3     Kalaburagi        Kalaburagi          543147
4      Mangalore  Dakshina Kannada          499487

In [15]:
# Wiki Data

In [16]:
data.shape

(26, 3)

In [17]:
for city in df['City']:
    try:
        weather_karnataka(city)
    except Exception as t:
        print("Error occured :",t)

Status of request for Bangalore: 200
Status of request for Hubli-Dharwad: 200
Status of request for Mysore: 200
Status of request for Kalaburagi: 200
Status of request for Mangalore: 200
Status of request for Belgaum: 200
Status of request for Davanagere: 200
Status of request for Bellary: 200
Status of request for Vijayapura: 200
Status of request for Shimoga: 200
Status of request for Tumkur: 200
Status of request for Raichur: 200
Status of request for Bidar: 200
Status of request for Udupi: 200
Status of request for Hospet: 200
Status of request for Gadag-Betageri: 200
Status of request for Robertsonpet: 200
Status of request for Hassan: 200
Status of request for Bhadravati: 200
Status of request for Chitradurga: 200
Status of request for Kolar: 200
Status of request for Mandya: 200
Status of request for Chikmagalur: 200
Status of request for Gangavati: 200
Status of request for Bagalkot: 200
Status of request for Ranebennuru: 200

In [18]:
#Let's create df for weather info

In [19]:
df_weather = pd.DataFrame({
       'Time':w_time,
        'Info':w_info,
        'Weather':weath})
df_weather.shape

(26, 3)

In [20]:
df_weather.head()

                Time           Info Weather
0  Saturday, 3:00 pm  Mostly cloudy      29
1  Saturday, 3:00 pm  Partly cloudy      27
2  Saturday, 3:00 pm  Partly cloudy      29
3  Saturday, 3:00 pm  Partly cloudy      31
4  Saturday, 3:00 pm  Partly cloudy      29

In [21]:
### Lets join both the Tables

In [22]:
df_final = pd.concat([data,df_weather],axis=1)
df_final.shape

(26, 6)

In [23]:
df_final.head()

,City,District,Population2011,Time,Info,Weather
0,Bangalore,Bangalore Urban,8495492,"Saturday, 3:00 pm",Mostly cloudy,29
1,Hubli-Dharwad,Dharwad,943788,"Saturday, 3:00 pm",Partly cloudy,27
2,Mysore,Mysore,920550,"Saturday, 3:00 pm",Partly cloudy,29
3,Kalaburagi,Kalaburagi,543147,"Saturday, 3:00 pm",Partly cloudy,31
4,Mangalore,Dakshina Kannada,499487,"Saturday, 3:00 pm",Partly cloudy,29

In [24]:
df_final.to_csv('Karnataka_city_weather_data.csv')

# Thank You